.btn-round {
    border-radius: 50% !important;
}
.btn-toolbar {
    background-color: #F6F7FB;
    border-radius: 20px;
    padding: 3px 5px;
    position: absolute;
    top: -20px;
    left: 15px;
}
