.btn-round {
    border-radius: 50% !important;
}
.btn-toolbar {
    background-color: #F6F7FB;
    border-radius: 20px;
    padding: 3px 5px;
    position: absolute;
    top: -15px;
    left: 40px;
    z-index: 1
}
.btn-radius {
    border-radius: 20px !important;
}
.btn-purple {
    background-color: #9079FC !important;
}
.btn-white {
    background-color: white !important;
}
.btn-ored {
    background-color: #fa5d65 !important;
}
.color-white {
    color: white !important;
}