<div class="card seo-card">
    <div class="card-body display-flex justify-content-between align-items-center"> 
        <div class="display-flex color-white">
            <img src="assets/icons/minimized/seo.gif" class="size-60" alt="">
            <div class="ml-4">
                <div class="font-22">SEO SCORE</div>
                <div class="font-19 font-weight-bold">Great</div>
            </div>
        </div>
        <div class="font-28 color-white mr-2">90<small>/100</small></div>
    </div>
</div>