<div class="card seo-card">
    <div class="card-body row"> 
        <div class="col-7 color-white display-flex flex-column justify-content-md-center">
            <div class="font-18 font-weight-bold pl-2">SEO SCORE</div>
            <div class="font-16 pl-2">Great</div>
        </div>
        <div class="col-5 color-white align-self-center align-items-center display-flex  justify-content-sm-around">
            <div class="font-28">90<small>/100</small></div>
            <img src="assets/icons/minimized/seo.gif" class="size-60" alt="">
        </div>
    </div>
</div>