<div class="card">
    <div class="card-body display-flex justify-content-between align-items-center"> 
        <div class="display-flex">
            <img src="assets/icons/minimized/conversionrate.png" class="size-60" alt="">
            <div class="ml-4">
                <div class="font-19">CONVERSION RATE</div>
                <div class="font-22 color-yellow font-weight-bold">13.5%</div>
            </div>
        </div>
        <div>
            <div class="font-17 font-weight-bold color-grey">Last Checked</div>
            <div class="font-17 font-weight-bold">40 mins ago</div>
        </div>
    </div>
</div>