<div class="card">
    <div class="card-header display-flex justify-content-between">
        <div  class="font-24 font-weight-bold">
            CONVERSION RATE
        </div>
        <div class="display-flex align-items-center">
            <button class="btn btn-round mr-2">
                <svg class="bi bi-arrow-left-short" width="20" height="20" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <div class="font-15">
                16 Jan - 22 Jan <b>vs</b> 09 Jan -15 Jan
            </div>
            <button class="btn btn-round ml-2 font-14">
                <svg class="bi bi-arrow-right-short" width="20" height="20" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
                  </svg>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row p-3 m-0">
            <div class="col-md-4 col-3 col-sm-12 col-lg-3 d-flex flex-column  justify-content-around">
                <div class="card background-purple mb-4 fit-content">
                    <div class="card-body color-white">
                        <p class="font-14">Goal Conversion Rate</p>
                        <p class="font-28">0.0%</p>
                        <p class="font-14">+0.00% (+--%)</p>
                    </div>
                </div>
                <div class="card fit-content">
                    <div class="card-body">
                        <p class="font-14">Goal Conversion Rate</p>
                        <p class="font-28">0.0%</p>
                        <p class="font-14">+0.00% (+--%)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-9 col-sm-12 col-lg-9">
                <ngx-charts-line-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [legendPosition]="'Below'"
                    [showXAxisLabel]="showXAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [roundDomains]="true"
                    [results]="multi"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>