<div class="card">
    <div class="card-header">
        <div class="btn-toolbar slide-in-bottom">
            <a class="cursor-pointer mr-2">
                <span><img src="assets/icons/btn-close.png"></span>
            </a>
            <a class="cursor-pointer mr-2">
                <span><img src="assets/icons/btn-minimize.png"></span>
            </a>
            <a class="cursor-pointer">
                <span><img src="assets/icons/btn-expand.png"></span>
            </a>
        </div> 
            Card Header
    </div>
    <div class="card-body">
        Card Body
    </div>
</div>