.brand-area {
    background-image: url('../../../assets/images/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .middle-img {
        width: 80% !important;
    }
}