<div class="row">
    <div class="col-md-8 col-sm-12">

    </div>
    <div class="col-md-4 col">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                site is up
            </div>
            <div class="col-md-6 col-sm-12">
                site is clean
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 flex-center">
                <app-mseo-score></app-mseo-score>
            </div>
            <div class="col-md-12 flex-center">
                <app-mdomain-expire></app-mdomain-expire>
            </div>
            <div class="col-md-12 flex-center">
                <app-msite-speed></app-msite-speed>
            </div>
            <div class="col-md-12 flex-center">
                <app-mfull-report></app-mfull-report>
            </div>
            <div class="col-md-12 flex-center">
                <app-mrank-check></app-mrank-check>
            </div>
        </div>
    </div>
</div>