<div class="options p-2">
        <p class="white">
            My sites(1/3)
        </p>
        <div class="card m-4 align-items-center justify-content-md-between pl-2 pr-2 flex flex-row">
            <ng-select [items]="domains" [hideSelected]="true" [(ngModel)]="selectDomain" class="custom-ngselect" [clearable]="false" [searchable]="true" (change)="test($event)"></ng-select>
            <img src="assets/icons/addbutton.png" alt="" class="size-20">
        </div>
        <div class="card m-4 align-items-center flex flex-row text-center justify-content-md-around">
            <img src="assets/icons/monitor.png" alt="">
            <div>Add Monitor</div>
            <img src="assets/icons/addbutton.png" alt="" class="size-20 mr-2">
        </div>
        <div class="card m-4 align-items-center flex flex-row justify-content-md-around">
            <img src="assets/icons/members.png" alt="">
            <div>Manage Members</div>
        </div>
</div>
<!-- Full width, height expanded component -->
<div class="expanded-full scale-in-center" *ngIf="expandSelected" #fullExpandedItem>
    <div class="position-relative w-100 h-100">
        <app-window-button class="position-absolute minimize-button" icon="minimize" (click)="closeExpanded()"></app-window-button>
        <div class="position-absolute expanded-area">
            <ng-template [ngIf]="expandSelected === 'conversion-rate'">
                <app-econversion-rate></app-econversion-rate>
            </ng-template>
            <ng-template [ngIf]="expandSelected === 'malware-check'">
                <app-emalware-check></app-emalware-check>
            </ng-template>
            <ng-template [ngIf]="expandSelected === 'site-speed'">
                <app-esite-speed></app-esite-speed>
            </ng-template>
            <ng-template [ngIf]="expandSelected === 'uptime'">
                <app-euptime></app-euptime>
            </ng-template>
            <ng-template [ngIf]="expandSelected === 'seo-score'">
                <app-eseo-score></app-eseo-score>
            </ng-template>
            <ng-template [ngIf]="expandSelected === 'domain-expire'">
                <app-edomain-expire></app-edomain-expire>
            </ng-template>
            <ng-template [ngIf]="expandSelected === 'wordpress'">
                <app-ewordpress></app-ewordpress>
            </ng-template>
        </div>
    </div>
</div>
<!-- main monitors list part -->
<div class="row mx-0 main-contents pt-5" *ngIf="!expandSelected" #mainContentArea>
    <!-- expanded components -->
    <div class="col-md-8 col-sm-12" cdkDropList (cdkDropListDropped)="drop($event, 'expand')">
        <div class="row">
            <ng-container *ngFor="let item of expandedItemsFromBackend; let i = index">
                <div class="col-md-12 flex-center mb-5 card-item" cdkDrag id="exp_{{i}}">
                    <div class="btn-toolbar slide-in-bottom header-expanded">
                        <app-window-button class="mr-2" icon="minimize" (click)="transferElement(i, item, 1)"></app-window-button>
                        <app-window-button icon="expand" (click)="maximizeItem(item)"></app-window-button>
                    </div>
                    <ng-template [ngIf]="item === 'conversion-rate'">
                        <app-econversion-rate></app-econversion-rate>
                    </ng-template>
                    <ng-template [ngIf]="item === 'malware-check'">
                        <app-emalware-check></app-emalware-check>
                    </ng-template>
                    <ng-template [ngIf]="item === 'site-speed'">
                        <app-esite-speed></app-esite-speed>
                    </ng-template>
                    <ng-template [ngIf]="item === 'uptime'">
                        <app-euptime></app-euptime>
                    </ng-template>
                    <ng-template [ngIf]="item === 'seo-score'">
                        <app-eseo-score></app-eseo-score>
                    </ng-template>
                    <ng-template [ngIf]="item === 'domain-expire'">
                        <app-edomain-expire></app-edomain-expire>
                    </ng-template>
                    <ng-template [ngIf]="item === 'wordpress'">
                        <app-ewordpress></app-ewordpress>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- minimized components -->
    <div class="col-md-4 col-sm-12">
        <div class="row" cdkDropList (cdkDropListDropped)="drop($event, 'minimize')">
            <div class="col-md-6 flex-center mb-4 card-item">
                <div class="btn-toolbar slide-in-bottom">
                    <app-window-button icon="expand" (click)="transferElement(null, 'uptime', 2)"></app-window-button>
                </div>
                <app-muptime></app-muptime>
            </div>
            <div class="col-md-6 flex-center mb-4 card-item">
                <div class="btn-toolbar slide-in-bottom">
                    <app-window-button icon="expand" (click)="transferElement(null, 'malware-check', 2)"></app-window-button>
                </div>
                <app-mmalware-check></app-mmalware-check>
            </div>
            <ng-container *ngFor="let item of minimizedItemsFromBackend; let i = index"> 
                <div class="col-md-12 flex-center mb-4 card-item" cdkDrag id="mini_{{i}}" >
                    <div class="btn-toolbar slide-in-bottom" [class]="item">
                        <app-window-button class="mr-2" icon="close" (click)="removeItem(i)"></app-window-button>
                        <app-window-button icon="expand" (click)="transferElement(i, item, 2)"></app-window-button>
                    </div>
                    <ng-template [ngIf]="item === 'conversion-rate'">
                        <app-mconversion-rate></app-mconversion-rate>
                    </ng-template>
                    <ng-template [ngIf]="item === 'site-speed'">
                        <app-msite-speed></app-msite-speed>
                    </ng-template>
                    <ng-template [ngIf]="item === 'seo-score'">
                        <app-mseo-score></app-mseo-score>
                    </ng-template>
                    <ng-template [ngIf]="item === 'domain-expire'">
                        <app-mdomain-expire></app-mdomain-expire>
                    </ng-template>
                    <ng-template [ngIf]="item === 'wordpress'">
                        <app-mwordpress></app-mwordpress>
                    </ng-template>
                    <ng-template [ngIf]="item === 'full-report'">
                        <app-mfull-report></app-mfull-report>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </div>
</div>