<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span class="font-24">
            SERVER MONITOR
        </span>
        <div class="font-16 d-flex flex-column">
            <span>Last Checked</span>
            <span class="color-green">2 hours ago</span>
        </div>
    </div>
    <div class="card-body row m-0">
        <div class="col-4 col-sm-6 col-md-4 col-lg-4 text-center">
            <sitebubo-round-progress></sitebubo-round-progress>
            <sitebubo-area-chart></sitebubo-area-chart>
        </div>
        <div class="col-4 col-sm-6 col-md-4 col-lg-4 text-center">
            <sitebubo-round-progress></sitebubo-round-progress>
            <sitebubo-area-chart></sitebubo-area-chart>
        </div>
        <div class="col-4 col-sm-6 col-md-4 col-lg-4 text-center">
            <sitebubo-round-progress></sitebubo-round-progress>
            <sitebubo-area-chart></sitebubo-area-chart>
        </div>
    </div>
</div>
