<div class="card expire-card">
    <div class="card-body row"> 
        <div class="col-7 color-white display-flex flex-column justify-content-md-center">
            <div class="font-18 font-weight-bold pl-2">Domain Expire</div>
            <div class="font-16 pl-2">11 days</div>
        </div>
        <div class="col-5 color-white align-self-center align-items-center display-flex justify-content-md-end">
            <img src="assets/icons/minimized/domainexpire.gif" class="size-60" alt="">
        </div>
    </div>
</div>