<div class="card speed-card">
    <div class="card-body row"> 
        <div class="col-7 color-white display-flex flex-column justify-content-md-center">
            <div class="font-18 font-weight-bold pl-2">SITE SPEED</div>
            <div class="font-16 pl-2">Great</div>
        </div>
        <div class="col-5 color-white align-self-center align-items-center display-flex justify-content-md-between">
            <div class="font-28">1.5<small>sec</small></div>
            <img src="assets/icons/minimized/sitespeed.gif" class="size-60" alt="">
        </div>
    </div>
</div>